<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head th:replace="/layout :: head">
</head>
<head>
    <title th:text="#{title.index}"></title>
</head>
<body>
<div th:replace="/layout :: language"></div>
<h3 th:text="#{title.index}"></h3>
<p>
    <a th:href="@{/customers/create}" th:text="#{title.create}"></a>
</p>
<div style="margin-bottom: 10px; margin-left: 110px">
    <form th:action="@{/customers/search}" method="get">
        <label><input type="text" name="search" th:value="${search}"></label>
        <button type="submit" class="btn btn-primary" th:text="#{search.button}"></button>
    </form>
</div>
<table id="customers">
    <thead>
    <tr>
        <th th:text="#{column.customer.name}"></th>
        <th th:text="#{column.customer.email}"></th>
        <th th:text="#{column.customer.address}"></th>
        <th th:text="#{edit.button}"></th>
        <th th:text="#{delete.button}"></th>
        <th th:text="#{view.button}"></th>
    </tr>
    </thead>
    <body>
    <tr th:each="row,rowStat : ${customers}">
        <td th:text="${row.name}"></td>
        <td th:text="${row.email}"></td>
        <td th:text="${row.address}"></td>
        <td><a th:href="@{/customers/{id}/edit(id=${row.id})}" th:text="#{edit.button}"></a></td>
        <td><a th:href="@{/customers/{id}/delete(id=${row.id})}" th:text="#{delete.button}"></a></td>
        <td><a th:href="@{/customers/{id}/view(id=${row.id})}" th:text="#{view.button}"></a></td>
    </tr>
    </body>
</table>
<div>
    <a class="btn btn-primary" th:if="${customers.hasPrevious()}"
       th:href="@{/customers/search(page=${customers.number - 1}, search=${search})}" th:text="#{previous.page}"></a>
    <span th:text="${customers.number + 1}"></span> | <span th:text="${customers.totalPages}"></span>
    <a class="btn btn-primary" th:if="${customers.hasNext()}"
       th:href="@{/customers/search(page=${customers.number + 1}, search=${search})}" th:text="#{next.page}"></a>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>