<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head th:replace="/layout :: head">
</head>
<head>
    <title th:text="#{title.view}"></title>
</head>
<body>
<div th:replace="/layout :: language"></div>
<h3 th:text="#{title.view}"></h3>
<p>
    <a th:href="@{/customers}" th:text="#{back-to-customer-list.button}"></a>
</p>
<div id="detail">
    <div class="cus-detail">
        <label th:text="#{customer.name}"></label>
        <label th:text="${customer.name}"></label>
    </div>
    <div class="cus-detail">
        <label th:text="#{customer.email}"></label>
        <label th:text="${customer.email}"></label>
    </div>
    <div class="cus-detail">
        <label th:text="#{customer.address}"></label>
        <label th:text="${customer.address}"></label>
    </div>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>