<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit New Song</title>
</head>
<body>
<form th:object="${song}" th:action="@{/songs/edit}" method="post">
    <input type="text" th:field="*{id}" readonly><br>
    <input type="text" th:field="*{title}" placeholder="Title">
    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Name Error</span><br>
    <input type="text" th:field="*{author}" placeholder="Author">
    <span th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Name Error</span><br>
    <input type="text" th:field="*{genre}" placeholder="Genre">
    <span th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}">Name Error</span><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>